<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/main.js"></script>
  </head>
  <body>
    <h1>Welcome to My Express App!</h1>
    <p>from the views folder</p>
    <button
      style="padding-left: 22px; display: flex; align-items: center"
      hx-get="/users"
      hx-target="#users"
    >
      Get Data
      <img aria-hidden="true" src="/img/loader.svg" class="htmx-indicator" />
    </button>
    <div id="users"></div>
  </body>
</html>
